/* Pour écrans supérieur a 1024px */
@media all and (min-width: 1024px) {

    /* *************************************** */
    /* *************** General *************** */
    /* *************************************** */


    /* *************************************** */
    /* *************** Header **************** */
    /* *************************************** */



    /* *************************************** */
    /* *************** Footer **************** */
    /* *************************************** */



}

/* Pour écrans entre 768px et 1023px (Tablette) */
@media only screen and (min-width: 768px) and(min-width: 1023px) {

    /* *************************************** */
    /* *************** General *************** */
    /* *************************************** */


    /* *************************************** */
    /* *************** Header **************** */
    /* *************************************** */


    /* *************************************** */
    /* *************** Footer **************** */
    /* *************************************** */



}

/* Pour écrans inférieur à 767 px ( Portable ) */
@media only screen and (max-width: 767px) {


    /* *************************************** */
    /* *************** General *************** */
    /* *************************************** */
    * {
        /* Retire la marge et le padding par défault */
        margin: 0;
        padding: 0;
    }

    body {
        /* Définis paramétre du contenu suivant la taille de la maquette pc fourni */
        font-family: "Raleway", "Arial", "Verdana", "sans-serif";

    }


    /* *************************************** */
    /* *************** Header **************** */
    /* *************************************** */

    /* ***** Paramètre du header ***** */
header {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

/* ***** Parametre de la boite invisible pour logo et nav ***** */
#boite_invisible_header {
    max-width: 767px;
    height: 96px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border:3px solid black
}
#logo{
    margin-left: 5%;
    border: 1px solid blue;
}
#navigation{
    border: 1px solid blue;
}
#menu_navigation{
    max-width: 767px;
    height: 96px;
    display:flex;
    list-style: none;
    border: 1px solid purple;
}
.accommodation{

}
.activite{

}
.register{
}
.li_un{
 align-self: flex-end;
}
.li_deux{
    align-self: flex-end;

}
.li_trois{
}

/* *************************************** */
/* **************** Main ***************** */
/* *************************************** */

main {
    /* Espace entre header et main */
    margin-top: 52px;
}
/* Parametre de la boite invisible pour les sections*/
#boite_invisible_main {
    max-width: 767px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border:3px solid black
}

/* *************************************** */
/* ************* Section 1 *************** */
/* *************************************** */

#entete {
    /* Décale sur la gauche le h2 et p */
    margin-left: 5%;
}
#entete>p {
    /* décale le p du titre */
    margin-top: 10px;
}

/* ***** Boite dialogue rechercher ***** */
#form_recherche {
    /* Parametre boite pour la barre de recherche */
    
    margin-top: 16px;
    margin-left: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px 0px 0px 30px;
    border:1px solid red
}

.boite_recherche {
    /* Parametre de la boite pour l'icone et recherche */
    height: 51px;
    width: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px 18px 18px 20px;
    border:1px solid green;
}

.boite_icone {
    /* Parametre de la boite pour l'icone */
    height: 46px;
    width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    /* Parametre de l'input */
    height: 46px;
    width: 231px;
    border: none;
    padding-left: 20px;
}

input::placeholder {
    /* Parametre du placeholder */
    font-size: 18px;
    font-weight: bold;
    color: black;
    opacity: 1;
}

.rechercher {
    /* Parametre du bouton */
    height: 51px;
    width: 134px;
    color: white;
    font-size: 18px;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 20px 20px 0px;
}

/* ***** Filtres ***** */
.filtres {
    /* Parametre de la boite pour h2 et les boutton filtres */
    width: 100%;
    margin-top: 30px;
    margin-left: %;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid red;

}

.filtres>h2 {
    /* Parametre du h2 filtre */
    margin-left:5%;
    font-size: 18px;
    font-weight: bold;
}

/* ***** Boutton Filtres ***** */
#button_money,
#button_family,
#button_love,
#button_dog {
    /* Parametre de la boite pour l'icone et le a */
    margin-left:4%;
    display: flex;
    align-items: center;
}

#button_money>i,
#button_money>a {
    /* Parametre taille et marge de money */
    width: 192px;
    margin-top:15px;
    margin-left: px;
}

#button_family>i,
#button_family>a {
    /* Parametre taille et marge de familial */
    width: 150px;
    margin-left: px;
}

#button_love>i,
#button_love>a {
    /* Parametre taille et marge de love */
    width: 182px;
    margin-left: px;
}

#button_dog>i,
#button_dog>a {
    /* Parametre taille et marge de dog */
    width: 240px;
    margin-left: px;
}

#button_money>i,
#button_family>i,
#button_love>i,
#button_dog>i {
    /* Parametre général de l'icone */
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #0065fc;
    background-color: #deebff;
}

#button_money>a,
#button_family>a,
#button_love>a,
#button_dog>a {
    /* Parametre  générale de la boite a pour p */
    height: 46px;
    position: absolute;
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
}

#button_money>a>p,
#button_family>a>p,
#button_love>a>p,
#button_dog>a>p {
    /* Parametre du texte dans le bouitton */
    margin-left: 63px;
}

#button_money>a:hover,
#button_family>a:hover,
#button_love>a:hover,
#button_dog>a:hover {
    /* Animation des boutons */
    color: blue;
    border: 3px solid #deebff;
}


    /* *************************************** */
    /* *************** Footer **************** */
    /* *************************************** */


}