/* Pour écrans entre 960px et 1280px (Tablette en paysage, écran d’ordinateur de taille petite et moyenne) */
@media all and (min-width: 960px) and (max-width: 1280px) {

    /* *************************************** */
    /* *************** General *************** */
    /* *************************************** */


    /* *************************************** */
    /* **************** Body ***************** */
    /* *************************************** */


    #trait_selection {
        visibility: hidden;
    }


    /* *************************************** */
    /* *************** Header **************** */
    /* *************************************** */


    /* ***** Parametre de la boite invisible pour logo et les header ***** */
    #boite_invisible_header {
        max-width: 1280px;
    }

    /* ***** Parametre du logo ***** */
    #logo {
        margin-left: 2%;
    }

    #header_haut {
        margin-right: 3%;
    }


    /* *************************************** */
    /* ************* Section 1 *************** */
    /* *************************************** */


    #boite_invisible_section1 {
        max-width: 1280px;
    }

    #entete {
        /* Décale sur la gauche le h2 et p */
        margin-left: 1%;
    }

    /* ***** Filtres ***** */
    .filtres {
        /* Parametre de la boite pour h2 et les boutton filtres */
        margin-left: 0px;

    }

    .filtres>h2 {
        /* Parametre du h2 filtre */
        margin-left: 1%;
    }


    /* *************************************** */
    /* ******* Section 2 hebergements ******** */
    /* *************************************** */


    /* ***** Parametre de la boite invisible pour section 2 ***** */
    #boite_invisible_section2 {
        /* Parametre de la boite pour container_rangees */
        max-width: 1280px;
        height: auto;
        flex-wrap: wrap;
    }

    .hebergements {
        /* Parametre .hebergements pour container_rangees*/
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: flex-start;
        background-color: white;
    }

    .hebergements>h2 {
        /* Parametre réglage h2 */
        margin-left: 1%;
    }

    .container_rangees {
        /* Parametre container_rangees pour les cartes */
        width: 100%;
        margin-top: 3%;
        margin-left: 0%;
        margin-right: 0%;
        justify-content: space-around;
    }


    /* *************************************** */
    /* ******** Section 2 populaires ********* */
    /* *************************************** */


    /* ***** Populaires ***** */
    .populaires {
        /* Parametre .populaires pour container_colonne*/
        width: 100%;
        height: auto;
        margin-left: 0px;
        border-radius: 0px;
        flex-wrap: nowrap;
    }

    .populaires>h2 {
        /* Parametre .populaires titre*/
        margin-left: 1%;
    }

    span {
        /* Parametre de l'icone */
        margin-left: 5%;
    }

    #container_colonne {
        /* parametre du container_colonne pour grille_image_2 */
        width: 100%;
        height: 320px;
        margin-top: 0%;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
    }


    /* *************************************** */
    /* ********* Section 3 activite ********** */
    /* *************************************** */


    /* ***** Activite ***** */
    #boite_invisible_section3 {
        /* Parametre de la boite pour container-3 */
        max-width: 1280px;
        height: auto;
        margin-top: 42px;
    }

    #boite_invisible_section3>div>h2 {
        /* Marge à gauche pour le  h2*/
        margin-left: 1%;
    }

    .container-3 {
        /* Parametre container-3 pour boite_carte*/
        width: 700px;
        margin: 0 auto;
    }

    .vieux_port {
        justify-content: center;
    }


    /* *************************************** */
    /* *************** Footer **************** */
    /* *************************************** */


    /* ***** Parametre boite pour les 3 sections ***** */
    #boite_invisible_footer {
        max-width: 1280px;
        justify-content: space-around;
    }

    #footer_accommodation {
        /* Marge à gauche */
        margin-left: 0%;
    }

    #footer_assistance {
        /* Marge à gauche */
        margin-left: 0%;
    }

}


/* Pour écrans entre 480px et 959px (Portable en paysage, tablette en portrait et petite tablette en paysage) */
@media only screen and (min-width: 480px) and (max-width: 959px) {


    /* *************************************** */
    /* *************** General *************** */
    /* *************************************** */


    /* *************************************** */
    /* **************** Body ***************** */
    /* *************************************** */


    #trait_selection {
        visibility: hidden;
    }


    /* *************************************** */
    /* *************** Header **************** */
    /* *************************************** */


    /* ***** Paramètre du header ***** */
    header {
        margin-top: 20px;
    }

    /* ***** Parametre de la boite invisible pour logo et les header ***** */
    #boite_invisible_header {
        max-width: 959px;
        height: 96px;
        flex-wrap: nowrap;
    }

    /* ***** Parametre du logo ***** */
    #logo {
        margin-left: 3%;
    }

    #header_haut {
        margin-right: 8%;
    }


    /* *************************************** */
    /* **************** Main ***************** */
    /* *************************************** */


    main {
        /* Espace entre header et main */
        margin-top: 0%;
    }


    /* *************************************** */
    /* ************* Section 1 *************** */
    /* *************************************** */


    #boite_invisible_section1 {
        max-width: 959px;
    }

    #entete {
        /* Décale sur la gauche le h2 et p */
        margin-left: 1%;
    }

    /* ***** Boite dialogue rechercher ***** */
    #form_recherche {
        /* Parametre boite pour la barre de recherche */
        margin-left: 1%;
    }

    /* ***** Filtres ***** */
    .filtres {
        /* Parametre de la boite pour h2 et les boutton filtres */
        height: 245px;
        margin-left: 0%;
        font-size: 16px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .boite_button {
        /* Parametre de la boite pour les boutons economiques et familial */
        width: 80%;
        justify-content: space-between;
        align-items: center;
    }

    .filtres>h2 {
        /* Parametre du h2 filtre */
        margin-left: 1%;
    }

    #button_money,
    #button_love,
    #button_dog {
        /* Parametre de la boite pour l'icone et le a */
        margin-left: 19px;
    }

    #button_money>i,
    #button_money>a {
        /* Parametre taille et marge pour icone et le a */
        width: 172px;
        margin-top: 15px;
        margin-left: 0px;
    }

    #button_family {
        /* Taille du cercle de l'icone */
        width: 50px;
        margin-right: 110px;
    }

    #button_family>i,
    #button_family>a {
        /* Parametre taille et marge pour icone et le a */
        width: 135px;
        margin-top: 15px;
        margin-left: 0px;
    }

    #button_love>i,
    #button_love>a {
        /* Parametre taille et marge pour icone et le a */
        width: 169px;
        margin-left: 0px;
        margin-top: 13px;
    }

    #button_dog>i,
    #button_dog>a {
        /* Parametre taille et marge pour icone et le a */
        width: 220px;
        margin-left: 0px;
        margin-top: 13px;
    }

    #button_money>i,
    #button_family>i,
    #button_love>i,
    #button_dog>i {
        /* Parametre général de l'icone */
        height: 50px;
        width: 50px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: #0065fc;
        background-color: #deebff;
    }

    /* ***** La ligne info  ***** */
    .boite_info {
        /* Parametre de la boite du dernier article*/
        margin-top: 0px;
    }


    /* *************************************** */
    /* ******* Section 2 hebergements ******** */
    /* *************************************** */


    /* ***** Parametre de la boite invisible pour section 2 ***** */
    #boite_invisible_section2 {
        /* Parametre de la boite pour container_rangees */
        max-width: 959px;
        height: auto;
        flex-wrap: wrap;
    }

    .hebergements {
        /* Parametre .hebergements pour container_rangees*/
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        justify-content: flex-start;
        background-color: white;
    }

    .hebergements>h2 {
        /* Parametre réglage h2 */
        margin-left: 1%;
    }

    .container_rangees {
        /* Parametre container_rangees pour les cartes */
        width: 100%;
        margin-top: 3%;
        margin-left: 0%;
        margin-right: 0%;
        justify-content: space-around;
    }


    /* *************************************** */
    /* ******** Section 2 populaires ********* */
    /* *************************************** */


    /* ***** Populaires ***** */
    .populaires {
        width: 100%;
        height: auto;
        margin-left: 1%;
        margin-right: 1%;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 0px;
    }

    .populaires>h2 {
        /* Parametre .populaires titre*/
        width: 100%;
        margin-top: 38px;
        margin-left: 1%;
    }

    span {
        /* Parametre de l'icone */
        margin-left: 10%;
    }

    #container_colonne {
        /* parametre du container_colonne pour grille_image_2 */
        width: 100%;
        height: 450px;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }


    /* *************************************** */
    /* ********* Section 3 activite ********** */
    /* *************************************** */


    /* ***** Activite ***** */
    #boite_invisible_section3 {
        /* Parametre de la boite pour container-3 */
        max-width: 959px;
        height: auto;
        margin-top: 42px;
    }

    #boite_invisible_section3>div>h2 {
        /* Marge à gauche pour le  h2*/
        margin-left: 1%;
    }

    .container-3 {
        /* Parametre container-3 pour boite_carte*/
        margin-top: 8px;
        max-width: 100%;
        justify-content: space-around;
    }

    /* ***** Cartes ***** */
    .boite_carte-2 {
        /* Parametre boite_carte pour carte-4 */
        height: 480px;
        margin-top: 0px;
        display: flex;
        justify-content: space-around;
    }

    .vieux_port {
        justify-content: center;
        margin-bottom: 14px;
    }

    .carte-4a {
        margin-top: 0px;
        height: 203px;
    }

    .carte-4b {
        margin-bottom: 0px;
        height: 203px;
    }

    .carte-4c {
        height: 203px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .carte-4d {
        height: 203px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .boite_image-4a,
    .boite_image-4b,
    .boite_image-4c,
    .boite_image-4d {
        /* Parametre boite image pour integrer l'image */
        width: 100%;
        height: 134px;
    }


    /* *************************************** */
    /* *************** Footer **************** */
    /* *************************************** */


    /* ***** Parametre boite pour les 3 sections ***** */
    #boite_invisible_footer {
        max-width: 959px;
        justify-content: space-around;
    }

    #footer_accommodation {
        /* Marge à gauche */
        margin-left: 0%;
    }

    #footer_assistance {
        /* Marge à gauche */
        margin-left: 0%;
    }


}

/* Pour écrans inférieur à 479 px ( Portable en portrait ) */
@media only screen and (max-width: 479px) {


    /* *************************************** */
    /* *************** General *************** */
    /* *************************************** */


    /* *************************************** */
    /* **************** Body ***************** */
    /* *************************************** */


    #trait_selection {
        visibility: hidden;
    }


    /* *************************************** */
    /* *************** Header **************** */
    /* *************************************** */


    /* ***** Paramètre du header ***** */
    header {
        margin-top: 20px;
    }

    /* ***** Parametre de la boite invisible pour logo et les header ***** */
    #boite_invisible_header {
        max-width: 479px;
        height: 96px;
        flex-wrap: wrap;
    }

    /* ***** Parametre du logo ***** */
    #logo {
        margin-left: 5%;
    }

    /* *****  Parametre du header_haut ***** */
    #header_haut {
        order: 1;
        width: 50%;
    }

    #register {
        /* Parametre de l'ul pour "s'inscrire" */
        margin-left: 50%;
    }

    /* *****  Parametre du header_bas ***** */
    #header_bas {
        width: 100%;
        margin: 0 auto;
        margin-top: 5%;
    }

    #menu_navigation {
        /* paramétrage du container qui vas recevoir li */
        width: 100%;
        margin-left: 0%;
        justify-content: space-around;
    }

    .li_un {
        /* Change la marge du mot hebergements à droite */
        margin-right: 10%;
    }

    .li_deux {
        /* change la marge du mot activite à droite */
        margin-right: 4%;
    }

    /* *****  Parametre de la boite_trait ***** */
    #boite_trait {
        width: 100%;
        margin-top: 4%;
        display: flex;
    }

    #trait_horizontal_1 {
        /* Parametre du trait de gauche */
        width: 50%;
        margin-left: 0%;
        display: inline-block;
        border-bottom: 3px solid #0065FC;
    }

    #trait_horizontal_2 {
        /* Parametre du trait de droite */
        width: 50%;
        margin-left: 0%;
        display: inline-block;
        border-bottom: 3px solid #f2f2f2;
    }


    /* *************************************** */
    /* **************** Main ***************** */
    /* *************************************** */


    main {
        /* Espace entre header et main */
        margin-top: 8%;
    }


    /* *************************************** */
    /* ************* Section 1 *************** */
    /* *************************************** */


    /* ***** Parametre de la boite invisible pour sections 1 ***** */
    #boite_invisible_section1 {
        max-width: 479px;
        height: 539px;
        margin: 0 auto;
    }

    #entete {
        /* Décale sur la gauche le h2 et p */
        margin-left: 5%;
    }

    #entete>p {
        /* décale le p du titre */
        margin-top: 12px;
        margin-bottom: 36px;
    }

    /* ***** Boite dialogue rechercher ***** */
    #form_recherche {
        /* Parametre boite pour la barre de recherche */
        width: 367px;
        margin: 0 auto;
        margin-top: 0px;
        margin-left: 0px;
        justify-content: center;
    }

    .boite_recherche {
        /* Parametre de la boite pour l'icone et recherche */
        width: 325px;
    }

    .boite_icone_2 {
        /* Parametre de la boite pour la deuxiéme icone */
        visibility: visible;
        height: 46px;
        width: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: #0065fc;
        border: 1px solid #0065fc;
    }

    .deuxieme_icone::before {
        /* Couleur icone loupe */
        color: white;
    }

    input {
        /* Parametre de l'input */
        width: 243px;
    }

    .rechercher {
        display: none;
    }

    /* ***** Filtres ***** */
    .filtres {
        /* Parametre de la boite pour h2 et les boutton filtres */
        width: 325px;
        height: 245px;
        margin-top: 8.8%;
        margin-left: 0%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .boite_button {
        /* Parametre de la boite pour les boutons economiques et familial */
        width: 365px;
        justify-content: space-between;
        align-items: center;
    }

    .filtres>h2 {
        /* Parametre du h2 filtre */
        margin-left: 22.4px
    }

    /* ***** Boutton Filtres ***** */
    #button_money,
    #button_love,
    #button_dog {
        /* Parametre de la boite pour l'icone et le a */
        margin-left: 19px;
    }

    #button_money>i,
    #button_money>a {
        /* Parametre taille et marge de money */
        width: 172px;
        margin-top: 15px;
        margin-left: 0px;
    }

    #button_family {
        /* Taille du cercle de l'icone */
        width: 50px;
        margin-right: 110px;
    }

    #button_family>i,
    #button_family>a {
        /* Parametre taille et marge de familial */
        width: 135px;
        margin-top: 15px;
        margin-left: 0px;
    }

    #button_love>i,
    #button_love>a {
        /* Parametre taille et marge de love */
        width: 169px;
        margin-left: 0px;
        margin-top: 13px;
    }

    #button_dog>i,
    #button_dog>a {
        /* Parametre taille et marge de dog */
        width: 220px;
        margin-left: 0px;
        margin-top: 13px;
    }

    #button_money>i,
    #button_family>i,
    #button_love>i,
    #button_dog>i {
        /* Parametre général de l'icone */
        height: 50px;
        width: 50px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: #0065fc;
        background-color: #deebff;
    }

    /* ***** La ligne info  ***** */
    .boite_info {
        /* Parametre de la boite du dernier article*/
        height: 41px;
        margin-left: 0px;
        margin-top: 0px;
        justify-content: center;
    }

    .info>i {
        /* Parametre de l'icone*/
        margin-left: 20px;
    }

    .boite_info>p {
        /* Parametre du texte */
        height: 27px;
        margin-top: 18px;
        font-size: 16px;
    }


    /* *************************************** */
    /* ******* Section 2 hebergements ******** */
    /* *************************************** */


    /* ***** Parametre de la boite invisible pour section 2 ***** */
    #boite_invisible_section2 {
        /* Parametre de la boite pour container_rangees */
        max-width: 479px;
        height: auto;
        margin-top: 0px;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }

    .hebergements {
        width: 100%;
        height: 1410px;
        justify-content: flex-start;
        background-color: white;
    }

    .hebergements>h2 {
        /* Parametre réglage h2 */
        margin-top: 35px;
        margin-left: 20px;
        font-size: 20px;
    }

    .container_rangees {
        /* Parametre container_rangees pour .grille_image_1_premiere_range et #grille_image_1_deuxieme_range */
        height: 1255px;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* ***** Cartes ***** */
    .carte {
        /*Parametre de la boite carte */
        width: 323px;
        margin-top: 12px;
        margin: 12px auto 0px;
    }

    .boite_image {
        /* Parametre boite image pour integrer l'image */
        width: 314px;
    }

    .hebergements>p {
        margin-left: 20px;
        margin-top: 56px;
    }


    /* *************************************** */
    /* ******** Section 2 populaires ********* */
    /* *************************************** */


    /* ***** Populaires ***** */
    .populaires {
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
    }

    .populaires>h2 {
        /* Parametre .populaires titre*/
        width: 100%;
        margin-top: 38px;
        margin-left: 20px;
    }

    span {
        /* Parametre de l'icone */
        margin-left: 31%;
    }

    #container_colonne {
        /* parametre du container_colonne pour grille_image_2 */
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }

    /* ***** Cartes ***** */
    .carte-2 {
        width: 326px;
        margin-top: 9px;
    }


    /* *************************************** */
    /* ********* Section 3 activite ********** */
    /* *************************************** */


    /* ***** Activite ***** */
    #boite_invisible_section3 {
        /* Parametre de la boite pour container-3 */
        max-width: 479px;
        height: auto;
        margin-top: 42px;
        justify-content: flex-start;
    }

    section>div>h2 {
        margin-left: 20px;
        font-size: 20px;
    }

    .container-3 {
        /* Parametre container-3 pour boite_carte*/
        width: 323px;
        height: 1282px;
        margin: 20px auto 0px;
    }

    .boite_carte,
    .boite_carte_portable {
        /* Parametre boite_carte pour carte-3 */
        width: 323px;
        height: 190px;
    }

    /* ***** Cartes ***** */
    .carte-3,
    .carte_portable {
        /* Parametre de la boite pour boite image */
        height: 190px;
        width: 100%;
        margin-top: 25px;
    }

    .boite_image-3,
    .boite_image_portable {
        /* Parametre boite image pour integrer l'image */
        height: 134px;
        width: 100%;
    }

    .boite_carte-2 {
        /* Parametre boite_carte pour carte-4 */
        width: 100%;
        height: 420px;
        margin-top: 43px;
        justify-content: flex-start;
    }

    .carte-4,
    .carte-4a,
    .carte-4b,
    .carte-4c,
    .carte-4d {
        /* Parametre des cartes */
        width: 100%;
        height: 190px;
    }

    /* Changements des marges */
    .carte-4a {
        margin-top: 0px;
        margin-bottom: 26px;
    }

    .carte-4b {
        margin-top: 1px;
        margin-bottom: 0px;
    }

    .carte-4c {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .carte-4d {
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .boite_image-4a,
    .boite_image-4b,
    .boite_image-4c,
    .boite_image-4d {
        /* Parametre boite image pour integrer l'image */
        width: 100%;
        height: 134px;
    }


    /* *************************************** */
    /* *************** Footer **************** */
    /* *************************************** */


    footer {
        /* Parametrage du Footer */
        height: 447px;
        max-width: 479px;
    }

    /* ***** Parametre boite pour les 3 sections ***** */
    #boite_invisible_footer {
        width: 100%;
        height: 447px;
        margin-left: 20px;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #footer_about {
        /* Marge en haut */
        margin-top: 12px
    }

    #footer_accommodation {
        /* Marge à gauche */
        margin-left: 0%;
    }

    #footer_assistance {
        /* Marge à gauche */
        margin-left: 0%;
    }

    #boite_invisible_footer>section>h2 {
        /* Parametre des titre de chaque section */
        margin-top: 40px;
    }

    #boite_invisible_footer>section>ul {
        /* Parametre des ul de chaque section */
        margin-top: 23px;
    }


}