/* ********************* */
/* ****** General ****** */
/* ********************* */


* {
    /* Retire la marge et le padding par défault */
    margin: 0;
    padding: 0;
}

body {
    /* Définis paramétre du contenu suivant la taille de la maquette pc fourni */
    max-width: 1340px;
    margin: 0 auto;
    font-family: "Raleway", "Arial", "Verdana", "sans-serif";
    border: 2px solid black;
}


/* ********************* */
/* ****** Header ******* */
/* ********************* */


/* Paramètre du header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: px solid red;
}

img {
    border: px solid black;
}

/* Paramètre du menu */

nav {
    /*container qui vas recevoir ul */
    width: 50%;
    display: flex;
    justify-content: right;
    border: px solid black;
}

#menu_navigation{
    /* paramétrage du container qui vas recevoir li */
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: px solid orchid;
}

a {
    /* enleve sur le soulignement et change la couleur */
    text-decoration: none;
    color: #0065FC;
    border: px solid black;
}

#menu_navigation li:last-child {
    /* mettre en gras le dernier élément de li */
    font-weight: bold;
}


/* ********************* */
/* ******* Main ******** */
/* ********************* */



/* première section */
input#image-button{
    background: #ccc url('icon.png') no-repeat top left;
    padding-left: 16px;
    height: 16px;
}


/* ******************************* */
/* ******** Grille image ********* */
/* ******************************* */

/* Parametre de la boite pour container 1 et 2*/
#hebergements
{
    height: 625px;
    display: flex;
    justify-content: ;
    flex-wrap: nowrap;
    border:px solid blue;
}

/* Parametre container1 pour container_grille*/
.container-1{
    width: 65.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Parametre container2 pour container_grille 2*/
.container-2{
    width: 31.33%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    border:px solid blue;
}
/* Parametre commune a container-1 et -2 */
.container-1, .container-2{
    height: auto;
    border-radius: 35px;
    background-color: #F2F2F2;
}
/* Parametre réglage h2 */
.container-1>h2{
    margin-top: 20px;
    margin-left: 40px;
}
/* Parametre réglage p */
.container-1>p{
    margin-bottom: 47px;
    margin-left: 40px;
    border:px solid blue;
}
/* Parametre container_grille pour grille_image_1 */
.container_grille{
    height: 450px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: px solid black;
}
/* Paramétre grille_image_1 pour les cartes*/
#grille_image_1_premiere_range, #grille_image_1_deuxieme_range{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
/*Parametre de la boite carte */
.carte{
    height: 200px;
    width: 246px;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px #d9d9d9;
}
/* Parametre boite image pour integrer l'image */
.boite_image{
    height: 114px;
    width: 236px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 5px;
    border-radius: 30px 30px 0px 0px;
}
/* Parametre de l'image */
.image{
    width: 100%;
    border-radius: 35px 35px 0px 0px;
}
/* Parametre du titre */
.carte h2 {
    margin-top: 13px;
    margin-left: 7%;
    font-size: 16px;
    color: black;
}
/* Parametre du paragraphe */
.carte p{
    margin-left: 7%;
    color: black;
}
/* Parametre des icones etoiles */
.etoile{
    margin-top: 5px;
    margin-left: 7%;
    color: #0065fc;
}
/* Parametrage de afficher plus */
.container-1>p{
    margin-top: 20px;
    font-weight: bold;
}

/* Parametre container-2*/
.container-2>h2{
    margin-top: 24px;
    margin-left: 40px;
    border: px solid black;
}
span{
    margin-left: 22%;
}
.container-2>p{
    margin-bottom: 47px;
    margin-left: 40px;
}
#container_grille-2{
    height: 520px;
    margin-top: 20px;
    margin-left: 36px;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: px solid black;
}
#grille_image_2{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}
/*Parametre de la boite carte-2 */
.carte-2{
    height: 143px;
    width: 343px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 35px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px #d9d9d9;
    border: px solid red;
}
.carte-2>a{
    width: 100%;
    display: flex;
}
/* Parametre boite image pour integrer l'image */
.boite_image-2{
    height: 134px;
    width: 127px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-left: 3px;
    border-radius: 30px 0px 0px 30px;
    border: px solid black;
}
.image-2{
    width: 100%;
    border-radius: 35px 0px 0px 35px;
}
.boite_texte{
    width: 180px;
    border: px solid black;
}
/* Parametre du titre */
.carte-2 h2 {
    margin-top: 19px;
    margin-left:21px;
    font-size: 16px;
    color: black;
}
/* Parametre du paragraphe */
.carte-2 p{
    margin-left: 21px;
    margin-top: 10px;
    color: black;
}
/* Parametre des icones etoiles */
.etoile-2{
    margin-top: 25px;
    margin-left: 21px;
    color: #0065fc;
}
/* Change la couleur des etoiles */
.couleur{
    color: #d9d9d9;
}

/* Section 3 */
/* Parametre de la boite pour container 1 et 2*/
#activite
{
    height: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border:px solid blue;
}
/* Parametre container1 pour container_grille*/
.container-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: px solid red;
}

/* Parametre container_grille pour grille_image_1 */
.container_grille-3{
    width: auto;
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
}
.carte-3{
    height: 445px;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 30px;
    background-color: white;
    box-shadow: 1px 1px 5px 2px #d9d9d9;
    border: 3px solid red;
}
/* Parametre boite image pour integrer l'image */
.boite_image-3{
    height: 390px;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: px;
    border-radius: 30px 30px 0px 0px;
}
.image-3{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}
.carte-3>a{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: ;
}
.carte-3 p{
    margin-left: 20px;
    margin-top: 18px;
}
.container-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: px solid red;
}
